<mat-grid-list cols="4" rowHeight="10em">
  <mat-grid-tile *ngFor="let sku of skus | async">
    <mat-card class="sku-card">
      <mat-card-title>{{ sku.name }}</mat-card-title>
      <mat-card-content>
        <p>
          {{ sku.description }}
        </p>
        <p>
          {{ sku.current_quantity }} {{ sku.base_units }} remaining
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color=accent
          (click)="openTransactionAdd(sku.id, txType.PURCHASED)"
          >Receive</button>
        <button mat-flat-button color=accent
          (click)="openTransactionAdd(sku.id, txType.SOLD)"
          >Ship</button>
      </mat-card-actions>
      <mat-card-footer></mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<a mat-fab [routerLink]="['/add']">+</a>
